body {
	max-width: 700px;
	margin: 0px auto;
	font-family: serif;
}

#header{
	background-color: #FFE4B5;
	text-align: center;
	color: #800000;
	padding: 10px;
}

input[type=text], select {
  width: 100%;
  margin: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=date], select {
  width: 100%;
  margin: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea, select {
  width: 100%;
  margin: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form{
	background-color: #F4A460;
	font-size: 16px;
  padding: 10px;
}

.simpan:hover{
	background-color: skyblue;
}

.batal:hover{
	background-color: red;
}

@media screen and (max-width:520px){
  body{
    width: auto;
    float: none;
  }

